@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&display=swap");

$Bright-orange: hsl(31, 77%, 52%);
$Dark-cyan: hsl(184, 100%, 22%);
$Very-dark-cyan: hsl(179, 100%, 13%);
$Transparent-white: hsla(0, 0%, 100%, 0.75);
$Very-light-gray: hsl(0, 0%, 95%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
body {
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  @media (min-width: 992px) {
    font-size: 12px;
  }
}

.card-container {
  max-width: 700px;
  background-color: pink;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 380px;
  border-radius: 6px;
  overflow: hidden;
  margin: 4rem 1rem;
  @media (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }
  .card {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    &:nth-child(1) {
      background-color: $Bright-orange;
      button {
        color: $Bright-orange;
      }
    }
    &:nth-child(2) {
      background-color: $Dark-cyan;
      button {
        color: $Dark-cyan;
      }
    }
    &:nth-child(3) {
      background-color: $Very-dark-cyan;
      button {
        color: $Very-dark-cyan;
      }
    }
    .content {
      img {
        width: 50px;
        height: auto;
      }
      h1 {
        font-size: 2rem;
        color: $Very-light-gray;
        margin: 1.2rem 0;
        text-transform: uppercase;
      }
      p {
        color: $Transparent-white;
        line-height: 1.5;
      }
    }
    button {
      padding: 0.5rem 1rem;
      border-radius: 30px;
      border: none;
      text-transform: capitalize;
      transition: 0.2s;
      &:hover {
        color: $Very-light-gray;
        outline: 2px solid $Very-light-gray;
        background-color: transparent;
      }
    }
  }
}
